#sort_by
  <b>Сортировать по:</b>
  %br
  =link_to_unless_current('По имени', params.merge(:order => 'by_name'))
  %br
  =link_to_unless_current('По популярности', params.merge(:order => 'by_popularity'))
  %br
  =link_to_unless_current('Кол-ву экранов', params.merge(:order => 'by_screens'))

.films_type_selector
  <b>Показывать:</b>
  %br
  =link_to_unless(!params[:premieres], 'Все', params.merge(:premieres => false))
  %br
  =link_to_unless(params[:premieres], 'Премьеры', params.merge(:premieres => true))

.films_type_selector
  <b>Показывать:</b>
  %br
  =link_to_unless(!params[:in_3d], 'Все', params.merge(:in_3d => false))
  %br
  =link_to_unless(params[:in_3d], '3D', params.merge(:in_3d => true))

%ul
  -@movies.each do |movie|
    %li
      %span.movie_name
        =link_to movie.name, movie_shows_path(movie)
      - if movie.premiere?
        %span.premiere
          премьера
      - if movie.is_3d
        %span
          (3D)