#sort_by
  <b>Сортировать по:</b>
  %br
  =link_to_unless_current('По имени', :overwrite_params => {:order => 'by_name'})
  %br
  =link_to_unless_current('По популярности', :overwrite_params => {:order => 'by_popularity'})
  %br
  =link_to_unless_current('Кол-ву экранов', :overwrite_params => {:order => 'by_screens'})

#films_type_selector
  <b>Показывать:</b>
  %br
  =link_to_unless_current('Все', :overwrite_params => {:premieres => false})
  %br
  =link_to_unless_current('Премьеры', :overwrite_params => {:premieres => true})


%ul
  -@movies.each do |movie|
    %li
      %span.movie_name
        =link_to movie.name, movie_shows_path(movie)
      - if movie.premiere?
        %span.premiere
          премьера