<h1>Editing favourite_cinema</h1>

<% form_for(@favourite_cinema) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @favourite_cinema %> |
<%= link_to 'Back', favourite_cinemas_path %>