<h1>Любимые кинотеатры</h1>

<table>
<% @favourite_cinemas.each do |favourite_cinema| %>
  <tr>
    <td><%= favourite_cinema.cinema.name %></td>
    <td><%= link_to 'Удалить', favourite_cinema, :confirm => 'Удалить?', :method => :delete %></td>
  </tr>
<% end %>
</table>
