<h1><%= @cinema.name %> (<%= @cinema.city %>)</h1>

<ul>
<% @cinema.shows.each do |show| %>
    <li>
        <span class="show_time"><%= show.time_formatted %></span> <span class="movie_name"><%= link_to show.movie.name, movie_path(show.movie) %></span>
    </li>  
<% end %>
</ul>

