<h1><%= @cinema.name %> (<%= @cinema.city %>)</h1>

<ul>
<% @cinema.shows.each do |show| %>
   <li><span class="show_time"><%= show.time.strftime('%H:%M (%d-%m-%Y)') %></span> <span class="movie_name"><%= show.movie.name %></span></li>
<% end %>
</ul>

